# ===============================
# Virtual Environment
# ===============================
venv/

# ===============================
# Environment / secrets
# ===============================
.env
.env.*